.main_sub_layout{
  margin-top: 3% !important;
}

.image_banner{
  margin: 2% 0 2% 0;
  padding: 0 15% !important;
}

//.border_before ::after{
//  content: "";
//  width: 1px;
//  position: absolute;
//  background: black;
//  top: 0;
//  bottom: 0;
//  right: -17px;
//}
